# SQL Analysis Development Notebook

This notebook is used for testing code concepts for the SQL Analysis module.

## Table of Contents

<ol>
    <li><a href='#start'>Modifying Class Dictionary</a></li>
</ol>

<a id='start'></a>
## Modifying Class Dictionary

In [1]:
class DictTest:
    def __init__(self):
        self.my_dict = {}
        self.label = 'count'
    
    def run_test(self, value):
        if value > 10:
            self.my_dict[value] = 'This is an update.'

In [9]:
tester = DictTest()

my_list = [1, 15, 6, 8, 20, 13]
my_labels = ['abc', 'xyz', 'def', 'lmn', 'ijk', 'str']

for value, label in zip(my_list, my_labels):
    tester.label = label
    tester.run_test(value)

In [10]:
tester.my_dict

{15: 'This is an update.', 20: 'This is an update.', 13: 'This is an update.'}

## Summary Storage

In [26]:
from importlib import reload
import pandas as pd
import sql_analysis as san

In [78]:
reload(san)

In [79]:
# Specify count fields
comparison_fields = ['application_id', 'application_id']
groupby_fields = ['ss_dt', 'snapshot_date']
table_names = ['EDASTG.ods_hc_application_active_stg', 'EDA.etl_applicant_legacy']
table_alias = ['ods', 'etl']

# Create gatherer
gatherer = san.SQLGatherData(comparison_fields, groupby_fields, 
                             table_names, table_alias, db_server='dev', 
                             test_type='high_distinct')

# Create tester
tester = san.SQLUnitTest(count_df,
                         comparison_names=table_alias, 
                         save_location='Q:/Project Work/MS Access/Testing/Applicant',
                         summary_field='ss_dt')

high_distinct_fields = [('adjusted_application_date', 'adjusted_application_date'),
                        ('household_id', 'household_id'),
                        ('original_application_date', 'original_application_date'),
                        ('postal_code', 'postal_code')]

for comparison_fields in high_distinct_fields:
    # Update gatherer fields for low_distinct
    gatherer.comparison_fields = comparison_fields

    low_df = gatherer.gather_data()
    
    # Update tester fields for low_distinct
    tester.data = low_df
    tester.test_field = comparison_fields[0]

    tester.run_test()

Commencing adjusted_application_date query...
Query for adjusted_application_date complete.

Commencing test for adjusted_application_date...
Test for adjusted_application_date complete.

Commencing household_id query...
Query for household_id complete.

Commencing test for household_id...
Test for household_id complete.

Commencing original_application_date query...
Query for original_application_date complete.

Commencing test for original_application_date...
Test for original_application_date complete.

Commencing postal_code query...
Query for postal_code complete.

Commencing test for postal_code...
Test for postal_code complete.

In [53]:
tester._priority_review

{'has_no_fixed_address_etl': 'MISSING VALUE for etl_has_no_fixed_address',
 'hh_principle_age_group_etl': 'PRIORITY REVIEW on etl_hh_principle_age_group: 10.0',
 'principal_income_source_etl': 'PRIORITY REVIEW on etl_principal_income_source: inf'}

In [38]:
tester._exceptions

{}

In [71]:
tester._results.columns[1]

'ss_dt'

In [69]:
tester._results

         date      ss_dt  ods_count  etl_count  ods_minus_etl  perc_diff_etl
0   02-Aug-19 2009-03-31       9873       9839             34       0.344374
1   02-Aug-19 2010-03-31      10870      10846             24       0.220791
2   02-Aug-19 2011-03-31      12419      12397             22       0.177148
3   02-Aug-19 2012-03-31      13701      13684             17       0.124079
4   02-Aug-19 2013-03-31      13936      13913             23       0.165040
5   02-Aug-19 2014-03-31      14569      14553             16       0.109822
6   02-Aug-19 2014-06-30      14660      14635             25       0.170532
7   02-Aug-19 2014-09-30      15106      15082             24       0.158877
8   02-Aug-19 2014-12-31      14778      14756             22       0.148870
9   02-Aug-19 2015-03-31      14870      14848             22       0.147949
10  02-Aug-19 2015-06-30      15188      15167             21       0.138267
11  02-Aug-19 2015-09-30      15490      15460             30       0.193673
12  02-Aug-19 2015-12-31      15642      15618             24       0.153433
13  02-Aug-19 2016-03-31      16056      16034             22       0.137020
14  02-Aug-19 2016-06-30      16923      16892             31       0.183183
15  02-Aug-19 2016-09-30      17445      17424             21       0.120378
16  02-Aug-19 2016-12-31      17639      17613             26       0.147401
17  02-Aug-19 2017-03-31      18045      18023             22       0.121917
18  02-Aug-19 2017-06-30      18246      18214             32       0.175381
19  02-Aug-19 2017-09-30      18533      18498             35       0.188852
20  02-Aug-19 2017-12-31      18207      18169             38       0.208711
21  02-Aug-19 2018-03-31      19109      19060             49       0.256424
22  02-Aug-19 2018-06-30      20019      19981             38       0.189820
23  02-Aug-19 2018-09-30      20292      20272             20       0.098561
24  02-Aug-19 2018-12-31      20694      20666             28       0.135305
25  02-Aug-19 2019-03-31      20962      20931             31       0.147887
26  02-Aug-19 2019-06-30      21384      21358             26       0.121586

In [80]:
tester._summary

,ss_dt,adjusted_application_date_etl,original_application_date_etl,postal_code_etl,perc_diff_etl
0,2008-06-30,NaN,NaN,NaN,NaN
1,2008-09-30,NaN,NaN,NaN,NaN
2,2008-12-31,NaN,NaN,NaN,NaN
3,2009-03-31,NaN,0.344374,NaN,100.000000
4,2009-06-30,NaN,NaN,NaN,NaN
5,2009-09-30,NaN,NaN,NaN,NaN
6,2009-12-31,NaN,NaN,NaN,NaN
7,2010-03-31,NaN,0.220791,NaN,100.000000
8,2010-06-30,NaN,NaN,NaN,NaN
9,2010-09-30,NaN,NaN,NaN,NaN
10,2010-12-31,NaN,NaN,NaN,NaN
11,2011-03-31,0.055036,0.177148,NaN,100.000000
12,2011-06-30,NaN,NaN,NaN,NaN
13,2011-09-30,NaN,NaN,NaN,NaN
14,2011-12-31,NaN,NaN,NaN,NaN
15,2012-03-31,NaN,0.124079,NaN,100.000000
16,2012-06-30,NaN,NaN,NaN,NaN
17,2012-09-30,NaN,NaN,NaN,NaN
18,2012-12-31,NaN,NaN,NaN,NaN
19,2013-03-31,NaN,0.165040,NaN,100.000000
20,2013-06-30,NaN,NaN,NaN,NaN
21,2013-09-30,NaN,NaN,NaN,NaN
22,2013-12-31,NaN,NaN,NaN,NaN
23,2014-03-31,NaN,0.109822,NaN,100.000000
24,2014-06-30,NaN,0.170532,NaN,0.100138
25,2014-09-30,NaN,0.158877,NaN,100.000000
26,2014-12-31,NaN,0.148870,NaN,100.000000
27,2015-03-31,0.048948,0.147949,0.036258,0.061660
28,2015-04-30,NaN,NaN,NaN,NaN
29,2015-05-31,NaN,NaN,NaN,NaN
...,...,...,...,...,...
49,2017-01-31,NaN,NaN,NaN,NaN
50,2017-02-28,NaN,NaN,NaN,NaN
51,2017-03-31,NaN,0.121917,NaN,100.000000
52,2017-04-30,NaN,NaN,NaN,NaN
53,2017-05-31,NaN,NaN,NaN,NaN
54,2017-06-30,NaN,0.175381,NaN,0.143722
55,2017-07-31,NaN,NaN,NaN,NaN
56,2017-08-31,NaN,NaN,NaN,NaN
57,2017-09-30,NaN,0.188852,NaN,0.163382
58,2017-10-31,NaN,NaN,NaN,NaN
59,2017-11-30,NaN,NaN,NaN,NaN
60,2017-12-31,0.044014,0.208711,NaN,0.113777
61,2018-01-31,NaN,NaN,NaN,NaN
62,2018-02-28,NaN,NaN,NaN,NaN
63,2018-03-31,NaN,0.256424,NaN,0.090534
64,2018-04-30,NaN,NaN,NaN,NaN
65,2018-05-31,NaN,NaN,NaN,NaN
66,2018-06-30,0.042680,0.189820,0.038081,0.105384
67,2018-07-31,NaN,NaN,NaN,NaN
68,2018-08-31,NaN,NaN,NaN,NaN
69,2018-09-30,NaN,0.098561,NaN,0.037686
70,2018-10-31,NaN,NaN,NaN,NaN
71,2018-11-30,NaN,NaN,NaN,NaN
72,2018-12-31,NaN,0.135305,NaN,0.074054
73,2019-01-31,NaN,NaN,NaN,NaN
74,2019-02-28,NaN,NaN,NaN,NaN
75,2019-03-31,NaN,0.147887,NaN,0.063770
76,2019-04-30,NaN,NaN,NaN,NaN
77,2019-05-31,NaN,NaN,NaN,NaN
78,2019-06-30,NaN,0.121586,NaN,0.062400

In [16]:
df_a = pd.DataFrame({'a_field': [1, 2, 3]})
df_b = pd.DataFrame({'b_field': [7, 8, 9]})

test = pd.concat([df_a, df_b])

C:\Users\rbarnes\AppData\Local\Continuum\anaconda3\envs\data_science\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [17]:
test

   a_field  b_field
0      1.0      NaN
1      2.0      NaN
2      3.0      NaN
0      NaN      7.0
1      NaN      8.0
2      NaN      9.0